{% extends 'blog/base.html' %}
{% block content %}
{% if user.is_authenticated %} 
<button class="new_post">
    <a href="{% url 'post_new' %}">new post</a>
</button>
{% endif %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="">{{ post.title }}</a></h2>
           <button class="btn-secondary">
            <a href="{% url 'post_detail' pk=post.pk %}"> show post </a>
           </button>
       
            
        </article>
    {% endfor %}
{% endblock %}

      