.page-header {
    background-color: rgb(61, 228, 72);
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
 } 
 .page-header h1,
 .page-header h1 a,
 .page-header h1 a:visited,
 .page-header h1 a:active
 {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
 }
 h1,
 h2,
 h3,
 h4{
    font-family: 'lobster',cursive;
 }

 .date {color: #828282;}
 .save {float: right;}
 .post-form textarea,
 .post-form input{width: 100%;}
 .topmenu,
 .topmenu:hover
 .topmenu:visited{color: #d12f2f;
    float: right;
    font-size: 26pt;
    margin-right: 20px;}
 .post{margin-bottom: 70px;}   
 .post h2 a ,
 .post h2 a:visited
 {color: #000000;}
 .post > .date,
 .post > .actions
 {float: right;}

 .btn-secondary,
 .btn-secondary:visited
 {
   color: #4a54c3;
   background-color: rgb(199, 222, 227);
   border-color: #9f521b;
   margin-right:20px,50px,20px,20px;
}
.btn-secondary:hover{
   
   color: #3ede5b;
   background-color: #e1c48b;
}
.new_post,
.new_post:visited{
   background-color: #e1c7b5;
   color: aqua;
   margin-left: 500px;
}
.new_post:hover{
   color: brown;
   background-color: rgb(207, 197, 216);
}
.top-menu,
.top-menu:hover
{
   color: #9f521b;
   background-color: #3ede5b;
}

